@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";

body {
  @apply m-0 bg-gray-50;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
